<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Toko Permata Listrik</title>
    <!-- CSS referenced from public directory -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
